<div class="row">
  <div class="span4">
    <%= f.input :name %>
    <%= f.input :description, input_html: {rows: 5} %>
  </div>
  <div class="span4">
    <%= f.input :icon, label: "Icon Image", as: :file %>
    <%= image_tag(@faction.icon.url) if @faction && @faction.icon? %>
  </div>
</div>
