<h1 class="page-header">
  <%= link_to "&laquo; Back to Factions".html_safe, admin_tasks_path, class: "btn pull-right" %>
  Editing Faction '<%= @faction.name %>'
</h1>

<%= simple_form_for @faction, url: admin_faction_path(@faction), multipart: true do |f| %>
  <%= render "admin/factions/form", f: f %>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Update Faction</button>
    <input type="reset" class="btn" value="Reset">
  </div>
<% end %>












